# See: https://nldesignsystem.nl/codeowners

# Changes to any file require approval from @nl-design-system/kernteam-committer
* @nl-design-system/kernteam-committer

# Protect this file itself (order matters, keep this line last):
.github/CODEOWNERS @nl-design-system/kernteam-admin
