name: Continuous Deployment

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  continuous-integration:
    name: Continuous integration
    runs-on: ubuntu-latest

    steps:
      - name: Download code from GitHub
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install pnpm package manager
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Set up Node.js version
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc

      - name: Check for known security issues with npm packages
        run: |
          echo "Auditing npm dependencies before installing them. For more information, see: https://nldesignsystem.nl/pnpm-audit"
          pnpm audit --audit-level critical

      - name: Install dependencies specified in package.json
        run: |
          pnpm install --frozen-lockfile
          pnpm ls --recursive

      - name: Run the lint script in package.json scripts
        run: |
          pnpm run --if-present lint

      - name: Run the build script in package.json scripts
        env:
          GH_ISSUES_TOKEN: ${{ secrets.GH_ISSUES_TOKEN }}
        run: |
          pnpm run --if-present build

      - name: Run the test script in package.json scripts
        run: |
          pnpm run --if-present test
